body{
    background: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000") no-repeat center fixed;
    background-size: cover;
    justify-content: center; 
    text-align: center; 
}

strong{
    color: rgb(79, 121, 185);
    font-size: 60px;
    font-family: 'Fredericka the Great', cursive;
    
}

#clear:hover {
    background-color: rgb(238, 81, 81);
    border-color: transparent;
    color:rgb(238, 250, 248);
}

#trending:hover, #search:hover, #share1:hover, #share2:hover {
    background-color: rgb(121, 117, 117);
    border-color: transparent;
}

#trending, #search{
    margin: 10px;
    background-color: rgb(70, 235, 235);
    border: 2px solid white; 
}

#share1{
    margin: 10px;
    background-color: rgb(247, 178, 178);
    border: 2px solid white; 
    border-radius: 100%;
    margin-left: 200px;
}

#share2{
    margin: 10px;
    background-color: rgb(247, 178, 178);
    border: 2px solid white; 
    border-radius: 100%;
}

#trending{
    margin-left: -10px;
}

#search, #share1, #share2{
    padding: 10px;
}

.bigbox{
    display: flex;
    width: 320px;
    height: 320px;
    border: 1px solid rgba(116, 113, 113, 0.397);
    margin: auto;
}

#box{
    width: 150px;
    border: 1px solid black;
}

.trendingGif{
    /* background: rgb(221, 253, 248); */
    background-image: linear-gradient(rgb(160, 240, 240), rgb(216, 239, 255))
}

.searchedGif{
    /* background: rgb(255, 238, 238); */
    background-image: linear-gradient(rgb(222, 240, 255), rgb(247, 208, 208))
}

img{
    max-width: 100%;
    max-height: 100%;
    cursor: pointer; /*change the cursor into a hand*/
} 

/* .lists{
    list-style: none;
} */

#trending, #share1, #share2, #search, #box, #clear{
    font-size:20px;
}

@media only screen and (min-width: 768px) {
    body{
        padding: 80px;
    }
    #trending{
        margin-right: 70px;
    }
    #share1{
        margin-left: 70px;
    }

    .bigbox{
        width: 450px;
        height: 450px; 
    }

    #trending, #share1, #share2, #search, #box{
        font-size:18px;
    }
    #clear{
        font-size:17px;
    }
}

@media only screen and (min-width: 1024px) {
    body{
        padding: 35px;
    }
    .bigbox{
        width: 500px;
        height: 500px;
        border: 1px solid rgba(116, 113, 113, 0.397);
        margin: auto;
    }
    #box{
        width: 220px;
    }
}
