.trendingGif, .searchedGif{
    display: flex;
    width: 350px;
    height: 350px;
    background: white;
    border: 1px solid black;
    background-position: left;
}

body{
    background: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000");
}
