body{
    background: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000") no-repeat center fixed;
    background-size: cover;
    justify-content: center; 
    text-align: center; 
}

strong{
    color: rgb(79, 121, 185);
    font-size: 50px;
    font-family: 'Fredericka the Great', cursive;
}

#clear:hover {
    background-color: rgb(238, 81, 81);
    border-color: transparent;
    color:rgb(238, 250, 248);
}

.btn:hover {
    background-color: darkgrey;
    border-color: transparent;
}

.bigbox{
    display: flex;
    width: 320px;
    height: 320px;
    border: 1px solid rgba(116, 113, 113, 0.397);
    margin: auto;
}

#box{
    width: 150px;
    border: 1px solid black;
}

.trendingGif{
    /* background: rgb(221, 253, 248); */
    background-image: linear-gradient(rgb(160, 240, 240), rgb(216, 239, 255))
}

.searchedGif{
    /* background: rgb(255, 238, 238); */
    background-image: linear-gradient(rgb(222, 226, 255), rgb(247, 208, 208))
}

img{
    max-width: 100%;
    max-height: 100%;
    cursor: pointer; /*change the cursor into a hand*/
} 

#trending, #search{
    margin: 10px;
    background-color: rgb(216, 215, 215);
}
@media only screen and (min-width: 768px) {
    body{
        padding: 80px;
    }
}

@media only screen and (min-width: 1024px) {
    body{
        padding: 70px;
    }
    .bigbox{
        width: 500px;
        height: 500px;
        border: 1px solid rgba(116, 113, 113, 0.397);
        margin: auto;
    }
    #box{
        width: 220px;
    }
}
